.btn-menu{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-menu a {
    text-decoration: none;
    color: #FFFFFF;
    list-style: none;
}
.topo{
    background-color: #565656;
    padding: .3rem .8rem;
    border-radius: 1.5rem;
    transition: .3s;
    margin: 0 .5rem;
}
.topo:hover{
    background-color: #E4105D;
    transition: .3s;
    color: #FFFFFF;
}
.btn-pink{
    width: 100%;
    /* width: 205px;*/
    height: 55px; 
    border: 1px solid #E4105D;
    padding: .5rem;
    border-radius: 2rem;
    overflow: hidden;
}
.btn-pink a {
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 2rem;
    background-color: #E4105D;
    font-weight: 700;
}
.btn-pink:hover{
    box-shadow: -3px -1px 25px #e4105ebd;
}
.atividade-projetos{
    display: flex;
}
.atividade-projetos > div{
    margin-right: 1rem;
}